<ion-header class="bod">
  <ion-navbar class="bod">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nova Pessoa</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bod">
  <ion-grid>
    <form #pessoaForm="ngForm" (ngSubmit)="salvar()">

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Nome
          </ion-label>
          <ion-input type="text" name="nome" #nome="ngModel" required minlength="8" [(ngModel)]="pessoa.nome"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="nome.hasError('minlength') && nome.dirty" margin-left>
          Informe um nome com no mínimo 8 caracteres.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Logradouro
          </ion-label>
          <ion-input type="text" name="rua" #rua="ngModel" required [(ngModel)]="pessoa.endereco.rua"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="rua.hasError('required') && rua.dirty" margin-left>
          Informe o logradouro.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Número
          </ion-label>
          <ion-input type="text" name="numero" ngModel #numero="ngModel" required [(ngModel)]="pessoa.endereco.numero"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="numero.hasError('required') && numero.dirty" margin-left>
          Informe o número.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Complemento
          </ion-label>
          <ion-input type="text" name="complemento" [(ngModel)]="pessoa.endereco.complemento"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Bairro
          </ion-label>
          <ion-input type="text" name="bairro" ngModel #bairro="ngModel" required [(ngModel)]="pessoa.endereco.bairro"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="bairro.hasError('required') && bairro.dirty" margin-left>
          Informe o bairro.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            CEP
          </ion-label>
          <ion-input type="text" [brmasker]="{mask:'00.000-000', len:10, type:'num' }" name="cep" #cep="ngModel"
            required [(ngModel)]="pessoa.endereco.cep"></ion-input>

        </ion-item>
        <p class='danger' *ngIf="cep.hasError('required') && cep.dirty" margin-left>
          Informe o CEP.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Cidade
          </ion-label>
          <ion-input type="text" name="cidade" #cidade="ngModel" required [(ngModel)]="pessoa.endereco.cidade"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="cidade.hasError('required') && cidade.dirty" margin-left>
          Informe a cidade.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Estado
          </ion-label>
          <ion-input type="text" name="estado" ngModel #estado="ngModel" required [(ngModel)]="pessoa.endereco.estado"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="estado.hasError('required') && estado.dirty" margin-left>
          Informe o estado.
        </p>
      </ion-row>

      <ion-row style="margin-top: 20px;">
        <ion-col>
          <button type="submit" ion-button round icon-start color="secondary" [disabled]="!pessoaForm.valid">
            <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            SALVAR
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>

</ion-content>
