<ion-header class="bod">
  <ion-navbar class="bod">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nova Pessoa</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bod">
  <ion-grid>
    <form [formGroup]='formGroup'>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Nome
          </ion-label>
          <ion-input type="text" formControlName='nome' required minlength="5"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="formGroup.controls['nome'].dirty && formGroup.controls['nome'].errors" margin-left>
          Informe um nome com no mínimo 5 caracteres.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Logradouro
          </ion-label>
          <ion-input type="text" formControlName='logradouro' required></ion-input>
        </ion-item>
        <p class='danger' *ngIf="formGroup.controls['logradouro'].dirty && formGroup.controls['logradouro'].errors"
          margin-left>
          Informe o logradouro.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Número
          </ion-label>
          <ion-input type="text" formControlName='numero' required></ion-input>
        </ion-item>
        <p class='danger' *ngIf="formGroup.controls['numero'].dirty && formGroup.controls['numero'].errors" margin-left>
          Informe o logradouro.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Complemento
          </ion-label>
          <ion-input name='complemento' type="text"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Bairro
          </ion-label>
          <ion-input type="text" formControlName='bairro' required></ion-input>
        </ion-item>
        <p class='danger' *ngIf="formGroup.controls['bairro'].dirty && formGroup.controls['bairro'].errors" margin-left>
          Informe o bairro.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            CEP
          </ion-label>
          <ion-input type="text" [brmasker]="{mask:'00.000-000', len:10, type:'num' }" formControlName='cep' required></ion-input>

        </ion-item>
        <p class='danger' *ngIf="formGroup.controls['cep'].dirty && formGroup.controls['cep'].errors" margin-left>
          Informe o CEP.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Cidade
          </ion-label>
          <ion-input type="text" formControlName='cidade' required></ion-input>
        </ion-item>
        <p class='danger' *ngIf="formGroup.controls['cidade'].dirty && formGroup.controls['cidade'].errors" margin-left>
          Informe a cidade.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Estado
          </ion-label>
          <ion-input type="text" formControlName='estado' required></ion-input>
        </ion-item>
        <p class='danger' *ngIf="formGroup.controls['estado'].dirty && formGroup.controls['estado'].errors" margin-left>
          Informe o estado.
        </p>
      </ion-row>

      <ion-row style="margin-top: 20px;">
        <ion-col>
          <button ion-button round icon-start color="secondary" [disabled]='formGroup.invalid'>
            <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            SALVAR
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>

</ion-content>
