<ion-header class="bod">
  <ion-navbar class="bod">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Novo Lançamento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bod">
  <ion-grid>
    <form action="">
      <ion-row>

        <ion-item class="bod">
          <ion-label>Tipo</ion-label>
          <ion-select #group interface="popover">
            <ion-option value="{{tipo.value}}" *ngFor="let tipo of tipos">{{tipo.label}}</ion-option>
          </ion-select>
        </ion-item>

      </ion-row>

      <ion-row>

        <ion-col>
          <ion-item class="bod">
            <ion-label floating>
              Vencimento
            </ion-label>
            <ion-datetime pickerFormat="DD MMMM YYYY" displayFormat="DD MMM YYYY" doneText="CONFIRMAR" cancelText="CANCELAR"
              max="2030-12-01">
            </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="bod">
            <ion-label floating>
              {{group.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}
            </ion-label>
            <ion-datetime pickerFormat="DD MMMM YYYY" displayFormat="DD MMM YYYY" doneText="CONFIRMAR" cancelText="CANCELAR"
              max="2030-12-01">
            </ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Descrição
          </ion-label>
          <ion-input name='descricao' type="text"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Valor
          </ion-label>
          <ion-input type="text" name="money" [brmasker]="{money: true, thousand: '.',  decimalCaracter: ','}"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label>Categoria</ion-label>
          <ion-select submitText="Okay" cancelText="Cancelar">
            <ion-option value="{{categoria.value}}" *ngFor="let categoria of categorias">{{categoria.label}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label>Pessoa</ion-label>
          <ion-select submitText="Okay" cancelText="Cancelar">
            <ion-option value="{{pessoa.value}}" *ngFor="let pessoa of pessoas">{{pessoa.label}}</ion-option>
          </ion-select>
        </ion-item>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Observação
          </ion-label>
          <ion-input name='observacao' type="text"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row style="margin-top: 20px;">
        <ion-col>
          <button ion-button round icon-start color="secondary">
            <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            SALVAR
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
