<ion-header class="bod">
  <ion-navbar class="bod">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Novo Lançamento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="bod">
  <ion-grid>
    <form #lancamentoForm="ngForm" (ngSubmit)="salvar()">
      <ion-row>

        <ion-item class="bod">
          <ion-label>Tipo</ion-label>
          <ion-select #group interface="popover" name='tipo' #tipoBotao="ngModel" required [(ngModel)]="lancamento.tipo">
            <ion-option value="{{tipo.value}}" *ngFor="let tipo of tipos">{{tipo.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p class='danger' *ngIf="tipoBotao.hasError('required') && tipoBotao.dirty" margin-left>
          Selecione um tipo de lançamento.
        </p>

      </ion-row>

      <ion-row>

        <ion-col>
          <ion-item class="bod">
            <ion-label floating>
              Vencimento
            </ion-label>
            <ion-datetime pickerFormat="DD MMMM YYYY" displayFormat="DD MMM YYYY" doneText="CONFIRMAR" cancelText="CANCELAR"
              max="2030-12-01" name="dataVencimento" #dataVencimento="ngModel" required [(ngModel)]="lancamento.dataVencimento">
            </ion-datetime>
          </ion-item>
          <p class='danger' *ngIf="dataVencimento.hasError('required') && dataVencimento.dirty" margin-left>
            Selecione uma data de vencimento.
          </p>
        </ion-col>

        <ion-col>
          <ion-item class="bod">
            <ion-label floating>
              {{group.value === 'RECEITA' ? 'Recebimento' : 'Pagamento'}}
            </ion-label>
            <ion-datetime pickerFormat="DD MMMM YYYY" displayFormat="DD MMM YYYY" doneText="CONFIRMAR" cancelText="CANCELAR"
              max="2030-12-01" name="dataPagamento" [(ngModel)]="lancamento.dataPagamento">
            </ion-datetime>
          </ion-item>
        </ion-col>

      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Descrição
          </ion-label>
          <ion-input type="text" name="descricao" #descricao="ngModel" required minlength="5" [(ngModel)]="lancamento.descricao"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="descricao.hasError('required') && descricao.dirty" margin-left>
          Informe uma Descrição.
        </p>
        <p class='danger' *ngIf="descricao.hasError('minlength') && descricao.dirty" margin-left>
          Informe uma descrição com no mínimo 5 caracteres.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Valor
          </ion-label>
          <ion-input type="number" name="valor" #valor="ngModel" required [(ngModel)]="lancamento.valor"></ion-input>
        </ion-item>
        <p class='danger' *ngIf="valor.hasError('required') && valor.dirty" margin-left>
          Informe o valor.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label>Categoria</ion-label>
          <ion-select submitText="Okay" cancelText="Cancelar" name="categoria" #vcategoria="ngModel" required
            [(ngModel)]="lancamento.categoria.codigo">
            <ion-option value="{{categoria.value}}" *ngFor="let categoria of categorias">{{categoria.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p class='danger' *ngIf="vcategoria.hasError('required') && vcategoria.dirty" margin-left>
          Selecione uma categoria.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label>Pessoa</ion-label>
          <ion-select submitText="Okay" cancelText="Cancelar" name="pessoa" #vpessoa="ngModel" required [(ngModel)]="lancamento.pessoa.codigo">
            <ion-option value="{{pessoa.value}}" *ngFor="let pessoa of pessoas">{{pessoa.label}}</ion-option>
          </ion-select>
        </ion-item>
        <p class='danger' *ngIf="vpessoa.hasError('required') && vpessoa.dirty" margin-left>
          Selecione uma pessoa.
        </p>
      </ion-row>

      <ion-row>
        <ion-item class="bod">
          <ion-label floating>
            Observação
          </ion-label>
          <ion-input type="text" name="observacao" [(ngModel)]="lancamento.observacao"></ion-input>
        </ion-item>
      </ion-row>

      <ion-row style="margin-top: 20px;">
        <ion-col>
          <button ion-button round icon-start color="secondary" [disabled]="!lancamentoForm.valid" type="submit">
            <ion-icon name="md-checkmark-circle-outline"></ion-icon>
            SALVAR
          </button>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>
</ion-content>
