page-pessoas {
  .toolbar-background {
    background-color: rgb(236, 253, 236);
  }

  .bod{
    background: rgb(248, 255, 249);
  }

  .logo{
    width: 200px;
    margin: auto;
    align-self: center;
    display: block;
    padding: 10px;
  }

  .no-padding-b{
    padding-bottom: 0px;
  }

}
